html {
	background-color: rgba(22, 22, 23, 1.0);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
	background-color: clear;
}

.navbar-item {
  color: rgba(245, 245, 247, 1.0);
}

.logo {
  display: block;
  width: 20px;
  height: 20px;
  fill: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.centered-icon {
  position: relative;
  text-align: center;
}

.overlay-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.centered-icon {
  text-align: center;
}

.centered-icon img {
	border-radius: 20px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #D2D2D7;
	width: 100px;
}

.huge-title {
  font-size: 140px;
  text-align: center;
  font-weight: 600;
  color: rgba(245, 245, 247, 1.0);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.download-button {
  display: inline-block;
  padding: 8px 24px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}

.download-button:hover {
  background-color: black;
  color: white;
}

.subtitle-container {
	display: flex;
	justify-content: center;
	margin-top: 65px;
	font-size: 32px;
	color: rgba(245, 245, 247, 1.0);
	font-weight: 600;
}

.subtitle-padding {
	padding-right: 320px;
	padding-left: 320px;
}

.feature-scoreboard {
	color: rgba(166, 255, 0, 1.0);
}

.feature-healthkit {
	color: rgba(250, 17, 79, 1.0);
}

.feature-game-metrics {
	color: rgba(246, 216, 68, 1.0);
}

.feature-icloud {
	color: rgba(0, 255, 246, 1.0);
}

.feature-title {
	font-size: 56px;
	font-weight: 600;
	font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: rgba(134, 134, 139, 1.0);
	padding-bottom: 40px;
	padding-left: 65px;
	margin-top: 640px;
}

.feature-subtitle {
	font-family: SF Pro Display,SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 1.1904761905;
	font-weight: 600;
	letter-spacing: .011em;
}

.feature-content {
	margin-top: .3em;
	font-size: 21px;
	line-height: 1.4211026316;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

	flex: 1;
	padding-top: 24px;
	padding-right: 24px;
	color: rgba(245, 245, 247, 1.0);
}

.feature-container {
	padding: 20px;
	border-radius: 30px;
	background-color: #000;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

.feature-container-left {
	padding: 20px;
	border-radius: 30px;
	background-color: #000;
	margin-left: 20px;
	margin-right: 5px;
	position: relative;
}

.feature-container-right {
	padding: 20px;
	border-radius: 30px;
	background-color: #000;
	margin-right: 20px;
	margin-left: 5px;
	position: relative;
}


.feature-column-container {
  display: flex;
  align-items: flex-start;
}

.image-container {
  flex: 1;
  text-align: right;
  align-self: flex-start;
}

.feature-container-image {
  width: 220px;
  height: auto;
}

.row-padding {
	padding-top: 24px;
}

.header-spacer {
	height: 156px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 22, 23, .5);
  -webkit-backdrop-filter: blur(14px);
  padding: 2px 0px;
  z-index: 100;
  border-bottom: 1px solid rgba(75, 75, 75, 1.0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  color: white;
  padding: 0.5em 1em;
}

.app-name {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	font-size: 20px;
	font-weight: 600;
}

.left {
  margin-right: auto;
}

.center {
	transition: opacity 0.3s ease-in-out;
	border-radius: 11px;
	width: 48px;
	position: absolute;
  left: 48.3%;
  height: 48px;
  top: 10%;
  opacity: 0;
}

.right-group {
  display: flex;
  margin-left: auto;
}

.right-group .right + .right {
  margin-left: 10px;
}

.top-spacer {
	height: 48px;
}